.App {
  text-align: center;
}

/* menu start  */
.menu{
  width: 80%;
  text-align: left;
  left: -100%;
  position: fixed;
  transition: 0.5s;
  height: 100vh;
  background-color: yellow;
}
.menuicon{
  position: absolute;
  right: 10px;
}
.activemenu{
  left: 0%;
}
ul li{
 list-style-type: none;
}

.Btn{
width: 90px;
 padding: 10px;
 background-color: red;
}
.para{
  background-color: yellow;
  padding: 40px;
  font-size: 2rem;
}
